@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: white;
  --main-color: #08FF08;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.application {
  min-height: 70rem;
  padding-bottom: 7rem;
  text-align: center;
  background-image: url(https://www.huck-net.co.uk/media/img/images/Football_Centre_Circle_Lines.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
  object-fit: contain;
}

.heading {
  font-size: 5rem;
  margin-bottom: 5rem;
  text-align: center;

}
.heading span {
  color: var(--main-color);
}

.app {
  padding-top: 10rem;  
}

.input-box{
  height: 100px;
  width: 250px;
  margin-top: 3rem;
  border: 0.3rem solid var(--main-color);
  border-radius: 1rem;
  font-size: 2rem;
}

.number-box {
  margin-top: 0.5rem;
  width: 4rem;
  height: 2.4rem;
  font-size: 2rem;
  border: 0.2rem solid var(--second-bg-color);
  border-radius: 0.2rem;
}

.number-text {
  padding-left: 0.5rem;
  font-size: 1rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 34.5rem;
  height: 5rem;
  padding: 10px;
}

.btn-box .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;

}

.teams-row{
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1% 10%;
}

.team {
  margin-top: 2rem;
  border: 0.2rem solid var(--bg-color);
  border-radius: 10PX;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  color: #081b29;
  font-size: 1.8rem;
  width: 10rem;
}

@media (max-width: 900px) {
  .team {
    width: 10rem;
  }
}